artifacts/model_d_resnet34_v1/best_model.pt filter=lfs diff=lfs merge=lfs -text
artifacts/model_f_vgg16_v1/best_model.pt filter=lfs diff=lfs merge=lfs -text
artifacts/model_g_alexnet_v1/best_model.pt filter=lfs diff=lfs merge=lfs -text
